body {
  margin: 5%;
  background-color: grey;
}

li {
  padding-top: 10px;
}

.img {
  height: 50px;
}

.greeting-container {
  display: flex;
  justify-content: center; 
  margin-bottom: 30px;
}

.main {
  background-color: #FEFAF6;
  padding: 5%;
  border: 1px black solid;
  border-radius: 15px;
}

.banner {
  display: flex;
  justify-content: center; 
  background-color: #5588A3;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
}

.company-name {
  font-size: 24px;
}

.company-name-div {
  display: flex;
  justify-content: center;
}

.header {
  font-size: 25px;
  margin: 10px;
}

.greeting-container {
  display: flex;
}

.greeting-div {
  flex: 2;
}

.greeting-text {
  padding-left: 20px;
  margin: 10px;
  font-size: 50px;
}

.basic-info {
  padding-left: 20px;
  margin: 10px;
}

.emoji-div {
  flex: 1;
}


.experience-container {
  display: flex;
}

.experience-block {
  flex: 1;
  display: flex;
  flex-direction: column;
  border: 1px black solid;
  border-radius: 10px;
  padding: 10px;
  margin: 20px 10px;
}

.experience-list {
  padding-left: 20px;
}

#top-sentence-info {
  margin-top: 50px;
}

#name {
  font-size: 80px;
  color: #5588A3;
}
